<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {{ HELMET_TITLE }}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{ HELMET_META }}
        <meta name="keywords" content="simple, react, ssr, app, with, auth" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="Marcin Sadowski" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <link rel="manifest" href="/manifest.json" />
        {{ __REDUX_PRELOADED_STATE__ }}
    </head>
    <body class="no-js">
    <noscript>
        <div class="alert alert-info text-center" style="margin-bottom: 0; border-radius: 0;">
            Your browser doesn't support JavaScript, some functionality may be disabled.
        </div>
    </noscript>
    <div id="app"></div>
        <script>
            document.body.className = '';
        </script>
    </body>
</html>
