/* Global */
body .only-js {
    display: block;
    visibility: visible;
}

body.no-js .dropdown-menu {
    display: none;
    position: absolute;
}

body.no-js .dropdown-toggle:focus + .dropdown-menu,
body.no-js .dropdown-toggle:active + .dropdown-menu {
    display: block;
}

body.no-js .dropdown-menu:hover {
    display: block;
}

body .only-js-inline {
    display: inline-block;
    visibility: visible;
}

body.no-js .only-js,
body.no-js .only-js-inline {
    display: none;
    visibility: hidden;
}

main.container {
    min-height: 100vh;
}
